body {
  font-family: "Montserrat";
  text-align: center;
}
/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

p {
  color: #afafaf;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
}

/* Headings */
.big-heading {
  font-weight: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3em;
  line-height: 1.5;
}
.container-fluid {
  padding: 7% 15%;
}

/* Navbar Section */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: thin;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
}
.feature-box {
  background-color: #fff;
  padding: 5%;
}

.fa-solid {
  color: #ef8172;
  margin-bottom: 1.2rem;
}

.fa-solid:hover {
  color: #ff4c68;
}
/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3em;
  line-height: 1.5;
  font-weight: 600;
}
.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3em;
  line-height: 1.5;
  font-weight: 900;
}
.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
/* Footer Section */

.social-icon {
  margin: 20px 10px;
}
